# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Database
analysis_history.db
*.sqlite3

# Uploads (user files)
uploads/

# OS files (Mac)
.DS_Store

# Logs
*.log

# Flask stuff:
instance/
.webassets-cache

# IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Marimo files (delete if not using Marimo)
marimo/_static/
marimo/_lsp/
__marimo__/

# MyPy, Pytype, and other static type checkers
.mypy_cache/
.pytype/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files (dotenv)
.envrc
